<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
<title>所有管理员</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 后台人员管理 <span class="c-gray en">&gt;</span> 所有管理员 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container" id="app">
	<div class="text-c"> 所有人员：
		<input type="text" v-model="admin.realName" placeholder=" 管理员姓名" style="width:250px" class="input-text">
		<button v-on:click="queryAdmin()" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 查找管理员</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l">
		<a class="btn btn-primary radius" onclick="picture_add('新增管理员','superadmin_add.html')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 新增管理员</a></span>
	</div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th width="40"><input name="" type="checkbox" value=""></th>
					<th width="80">序号</th>
					<th width="80">工号</th>
					<th width="100">昵称</th>
					<th width="100">真实姓名</th>
					<th width="100">联系电话</th>
					<th width="150">电子邮箱</th>
					<th width="100">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-c" v-for="(admin,index) in admins">
					<td><input name="" type="checkbox" value=""></td>
					<td>{{index+1}}</td>
					<td>{{admin.adminId}}</td>
					<td>{{admin.adminName}}</td>
					<td>{{admin.realName}}</td>
					<td>{{admin.tel}}</td>
					<td>{{admin.email}}</td>
					<td class="td-manage">
						<button class="btn btn-primary radius"  v-on:click="updateOne(admin)"  title="编辑" data-toggle="modal" data-target="#myModal">
							<i class="Hui-iconfont">&#xe6df;</i>
						</button>
						<button class="btn btn-primary radius"  v-on:click="deleteOne(admin)"  title="删除" data-toggle="modal" data-target="#mydal">
							<i class="Hui-iconfont">&#xe6e2;</i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<form class="form form-horizontal" id="form-article-add">
							<div class="row cl">
								<label class="form-label col-xs-4 col-sm-2">真实姓名:</label>
								<div class="formControls col-xs-8 col-sm-9">
									<input type="text" class="input-text" id="realName" v-model="someone.realName" disabled="disabled">
								</div>
							</div>
							<div class="row cl">
								<label class="form-label col-xs-4 col-sm-2">昵称：</label>
								<div class="formControls col-xs-8 col-sm-9">
									<input type="text" class="input-text"  id="adminName" v-model="someone.adminName"  >
								</div>
							</div>
							<div class="row cl">
								<label class="form-label col-xs-4 col-sm-2">电话：</label>
								<div class="formControls col-xs-8 col-sm-9">
									<input type="text" class="input-text"  id="tel" v-model="someone.tel">
								</div>
							</div>
							<div class="row cl">
								<label class="form-label col-xs-4 col-sm-2">邮箱：</label>
								<div class="formControls col-xs-8 col-sm-9">
									<input type="text" class="input-text" id="email" v-model="someone.email">
								</div>
							</div>
							<div class="row cl">
								<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
									<button v-on:click="updateSubmit(someone)" class="btn btn-primary radius" ><i class="Hui-iconfont">&#xe632;</i> 提交</button>
									<button v-on:click="removeModel()" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="mydal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" style="width:600px;height:500px;">
				<div class="modal-content">
					<div class="modal-body">
						<div class="row cl">
							<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
								<span style="font-size:20px">确定要删除{{someone.realName}}吗？</span></br></br></br>
								<button v-on:click="deleteSomeOne(someone)" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 确定</button>
								<button v-on:click="offModel()" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/axios.min.js"></script>
<script type="text/javascript" src="js/swuorange-common.js"></script>
<script type="text/javascript" src="js/jsencrypt.min.js"></script>
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
/*$('.table-sort').dataTable({
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  {"orderable":false,"aTargets":[0,7]}// 制定列不参与排序
	]
});*/
new Vue({
	el:"#app",
	data:{
		admins:[],
		admin:{},
		someone:{}
	},
	created:function(){
		sendAxios("admin/showAll",{}).then(res=>{
				if(res.data.code==200){
					this.admins=res.data.obj;
				}else{
					alert("查询所有管理员错误，请联系运维人员！");
				}
			}	
		)
	},
	methods:{
		queryAdmin:function(){
			sendAxios("admin/showOne",this.admin).then(res=>{
				if(res.data.code==200){
					this.admins=[];
					this.admins=res.data.obj;
				}else{
					alert("查无此人！");
				}
			})
		},
		updateOne:function(ad){
			sendAxios("admin/updateOne",ad).then(res=>{
				if(res.data.code==200){
					this.someone=res.data.obj;
				}
			})
		},
		updateSubmit:function(one){
			sendAxios("admin/updateByRealName",one).then(res=>{
				if(res.data.come==200){
					alert("修改成功！")
				}
			})
		},
		removeModel:function(){
			$("#myModal").modal('hide');
		},
		offModel:function(){
			$("#mydal").modal('hide');
		},
		deleteOne:function(one){
			sendAxios("admin/updateOne",one).then(res=>{
				if(res.data.code==200){
					this.someone=res.data.obj;
				}
			})
		},
		deleteSomeOne:function(one){
			sendAxios("admin/deleteByRealName",one).then(res=>{
				if(res.data.code==200){
					alert("成功删除！");
					offModel();
				}else{
					alert("删除出现错误！");
				}
			})
		}	
		
	},
});
/*图片-添加*/
function picture_add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}

/*图片-编辑*/
function picture_edit(title,url,id){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}

/*图片-删除*/
function picture_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '',
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}

</script>
</body>
</html>