<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/layui.css" />
<title>添加基地 - 基地管理管理 - 西南大学金桔管理系统</title>
<style type="text/css">
	
</style>
<meta name="keywords" content="西南大学中国柑桔科技供应与产业信息服务平台">
<meta name="description" content="西南大学中国柑桔科技供应与产业信息服务平台">
</head>
<body>
<article class="page-container">
<div id="subbase-app">
	<form class="form form-horizontal" id="form-admin-add">
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>场地名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input v-model="subbase.subbaseName" type="text" class="input-text" value="" id="subbaseName" name="subbaseName">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>场地地址：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input v-model="subbase.subbaseAddress" type="text" class="input-text" value="" id="subbaseAddress" name="subbaseAddress">
			</div>
		</div>
		<div id="staffList">
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>场地负责人：</label>
				<div class="formControls col-xs-8 col-sm-9" >
					<span class="select-box" style="width:150px;">
						<select v-model="subbase.principal" class="select" size="1" >
							<option v-for="staff in staffs" name="principal" :value="staff.staffName" >{{staff.staffName}}</option>
						</select>
					</span>
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>生产记录者：</label>
				<div class="formControls col-xs-8 col-sm-9" > 
					<span class="select-box" style="width:150px;">
						<select v-model="subbase.productionRecorder" class="select"  size="1">
							<option v-for="staff in staffs" name="productionRecorder" :value="staff.staffName">{{staff.staffName}}</option>
						</select>
					</span>
				</div>
			</div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>生产记录者账号：</label>
			<div class="formControls col-xs-8 col-sm-9" style="width:180px;">
				<input v-model="subbase.subbasePRaccount" type="text" class="input-text" autocomplete="off" value="" id="subbasePRaccount" name="subbasePRaccount">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>生产记录者密码：</label>
			<div class="formControls col-xs-8 col-sm-9" style="width:180px;">
				<input v-model="subbase.subbasePRpwd" type="text" class="input-text" autocomplete="off" value="" id="subbasePRpwd" name="subbasePRpwd">
			</div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>所属基地：</label>
			<div class="formControls col-xs-8 col-sm-9" id="baseList"> 
				<span class="select-box" style="width:150px;">
					<select v-model="subbase.baseId" class="select"  size="1" >
						<option v-for="base in bases" name="baseId" :value="base.baseId">{{base.baseName}}</option>
					</select>
				</span> 
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" @click="addSubmit(subbase)" type="submit" value="提交">
			</div>
		</div>
		
		
	</form>
</div>
</article>
		

<!--_footer 作为公共模版分离出去--> 
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!-- 引入Vue -->
<script type="text/javascript" src="js/jsencrypt.min.js"></script>
<script type="text/javascript" src="js/vue-resource.min.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/axios.min.js"></script>
<script type="text/javascript" src="js/swuorange-common.js"></script>
<script type="text/javascript" src="js/layer.js"></script>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript">


	var ve = new Vue({
		el:"#subbase-app",
		name:"subbase-add",
		data: {
			staffs: [],
			bases: [],
			subbase:{}
		},
		created: function () {
            sendAxios(
				"subbase/searchBase",
				{}
			).then(res => {
                this.bases = res.data;
            }, err => {
            	console.log(res.data);
            });
            sendAxios(
				"subbase/searchStaff",
				{}
			).then(res => {
                this.staffs = res.data;
            }, err => {
            	console.log(res.data);
            });
        },
		methods:{
			addSubmit:function(subbase){
				sendAxios(
					"subbase/insert",
					subbase
				).then(res=>{
					if(res.data.code==200){
						layer.msg('添加成功！',{icon:1,time:1000});						
					}else if(res.data.code==400) {
						layer.msg("添加失败！",{icon:1,time:1000});
					}
				});
				var index = parent.layer.getFrameIndex(window.name);
				parent.$('.btn-refresh').click();
				parent.layer.close(index);
			}
		}
	})
	
	

</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>